body {
    background-color: rgb(32, 32, 32);
	color: rgb(240, 240, 240);
	padding: 0;
	margin: 0;
	font-family: monospace;
}

.green_border {
	border: 2px solid #4dff5b;
}

#team_network_sender_set_graph {
	/* background-color: rgb(202, 202, 202); */
}

/* #slidercontainer {
	width: 100%;
}

#tickslider {
	width: 100%;
} */
